.audio_player_section_container {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 10%;
}

.image_wrapper {
  position: relative;
  top: 30px;
  width: 180px;
  height: 180px;
  margin: 0 auto;
  box-shadow: 0 0 20px black;
}

.episode_info_section{
  position: relative;
  top: 50px;
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
}

.episode_title {
  text-align: center;
}

.episode_details{
  width: 100%;
  height: 150px;
  overflow: scroll;
  text-align: start;
}


.audioPlayer {
    --primary: grey;
    --secondary: white;
    position: absolute;
    bottom: 10%;
    width: 80%;
    text-align: center;
  }

  .audioPlayerPlaybutton{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
  }
  
  .forwardBackward {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-family: var(--title-font);
    font-size: 12px;
    cursor: pointer;
  }
  
  .forwardBackward:hover {
    color: var(--primary);
  }
  
  .playPause {
    border: 6px solid var(--primary);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  
  .play {
    padding-left: 3px;
    color: var(--primary);
    text-align: center;
  }

  .audioPlayerBar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .currentTime,
  .duration {
    font-family: var(--title-font);
    font-size: 12px;
  }
  
  .progressBar {
    --bar-bg: darkgrey;
    --seek-before-width: 0;
    --seek-before-color: grey;
    --knobby: black;
    --selectedKnobby: #ff0303;
    padding-top: 5px;
    appearance: none;
    background: var(--bar-bg);;
    border-radius: 10px;
    width: 50%;
    height: 6px;
    outline: none;
  }
  
  /* progress bar - safari */
  .progressBar::-webkit-slider-runnable-track {
    background: var(--bar-bg);;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 6px;
    outline: none;
  }
  
  /* progress bar - firefox */
  .progressBar::-moz-range-track {
    background: var(--bar-bg);;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
  }
  
  .progressBar::-moz-focus-outer {
    border: 0;
  }
  
  /* progress bar - chrome and safari */
  .progressBar::before {
    content: '';
    height: 11px;
    width: var(--seek-before-width);
    background-color: var(--seek-before-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
  }
  
  /* progress bar - firefox */
  .progressBar::-moz-range-progress {
    background-color: var(--seek-before-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 11px;
  }
  
  /* knobby - chrome and safari */
  .progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: none;
    position: relative;
    bottom: 4px;
    background-color: var(--knobby);
    cursor: pointer;
    z-index: 3;
  }
  
  /* knobby while dragging - chrome and safari */
  .progressBar:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: var(--selectedKnobby);
  }
  
  /* knobby - firefox */
  .progressBar::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: transparent;
    background-color: var(--knobby);
    cursor: pointer;
    position: relative;
    z-index: 3;
    box-sizing: border-box;
  }
  
  /* knobby while dragging - firefox */
  .progressBar:active::-moz-range-thumb {
    transform: scale(1.2);
    background: var(--selectedKnobby);
  }

  /*================ Tablet ==================*/
@media screen and (min-width: 768px) {

  .audio_player_section_container {
  padding: 5%;
  }

  .audioPlayer {
    bottom: 5%;
    width: 90%;
  }

  .currentTime,
  .duration {
    font-size: 20px;
  }

  .forwardBackward {
    font-size: 20px;
  }

}

  /*================ Laptop ==================*/
@media screen and (min-width: 1024px) {

  .audio_player_section_container {
    padding: 3%;
    }

    .flex_wrapper{
      display: flex;
      justify-content: space-evenly;
      margin: 5%;
    }

    .image_wrapper{
      width: 400px;
      height: 400px;
    }

    .episode_info_section{
      top: 0;
      width: 400px;
      height: 400px;
      padding: 0;
    }

    .episode_title h3{
      font-size: 35px;
      padding: 5px;
    }

    .episode_title h4{
      padding: 5px;
      font-size: 20px;
    }

    .episode_details{
      width: 100%;
      height: 300px;
    }

    .audioPlayerPlaybutton{
      flex: 1;
      display: flex;
      gap: 50px;
      margin: 20px;
    }

    .audioPlayer {
      display: flex;
      justify-content: center;
      gap: 30px;
    }

    .forwardBackward {
      font-size: 24px;
    }

    .playPause {
      width: 100px;
      height: 100px;
      font-size: 35px;
    }

    .play {
      padding-left: 5px;
    }

    .currentTime,
    .duration {
    font-size: 24px;
    }

    .audioPlayerBar{
      flex: 2.5;
    }

    .progressBar {
      width: 80%;
      height: 15px;
    }

    .progressBar::-webkit-slider-thumb {
      height: 20px;
      width: 20px;
      bottom: 9px;
    }

}