.logo_wrap {
  position: relative;
  top: 20%;
  text-align: center;
  z-index: 99;
}

.top {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: center/cover no-repeat url('../public/assets/background-wave.png');
  z-index: 1;
}

.title {
  width: 80%;
  overflow-wrap: normal;
}

.intro {
  display: none;
  font-size: 10px;
}

.arrows {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15%;
  text-align: center;
  animation: arrowmove 2s ease-in-out infinite;
}

@keyframes arrowmove {
  0%{bottom: 5%;}
  50%{bottom: 10%;}
  100%{bottom: 5%;}
}
  

/*================ Laptop ==================*/  
@media screen and (min-width: 1024px){
  .container {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-color: black;
    font-family: 'Notable', sans-serif;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.555);
    padding: 30px;
  }

  .hamburger_menu {
    width: 47px;
    height: 36px;
  }

  .logo_wrap {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;
    z-index: 98;
  }

  .top {
    position: absolute;
    top: 60%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 90%;
    background-image: url('../public/assets/background-wave_desktop.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
  }

  .title {
    position: absolute;
    top: 30%;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 8rem;
  }
  
  .title .red {
    color: red;
  }

  .intro {
    display: inline;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-family: 'Enriqueta', serif;
    font-weight: lighter;
    font-size: 2.5rem;
  }

  .arrows {
    position: fixed;
    top: 0;
    visibility: hidden;
    opacity: 0;
  }
}

/*================ Laptop ==================*/  

@media screen and (min-width: 768px){
  
  .intro{
    position: absolute;
    top: 60%;
    width: 100%;
    display: block;
    color: white;
  }
}

